*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

body {
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  min-inline-size: 320px;
  max-inline-size: 1024px;
  margin: 0 auto;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  background: transparent;
  border: none;
}

.header__decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--corners-color);
  border-bottom: 1px solid var(--corners-color);
  left: 20px;
  bottom: 20px;
}

.header__decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--corners-color);
  border-top: 1px solid var(--corners-color);
  right: 20px;
  top: 20px;
}

.footer__decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--corners-color);
  border-bottom: 1px solid var(--corners-color);
  left: 20px;
  bottom: 20px;
}

.footer__decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--corners-color);
  border-top: 1px solid var(--corners-color);
  right: 20px;
  top: 20px;
}

.title-decor {
  background-color: var(--title-decor);
  color: var(--article-title-color);
}

@media (width <= 375px) {
  .header__decorated-zone::before {
    left: 10px;
    bottom: 15px;
  }
  
  .header__decorated-zone::after {
    right: 10px;
    top: 10px;
  }
  
  .footer__decorated-zone::before {
    left: 10px;
    bottom: 15px;
  }
  
  .footer__decorated-zone::after {
    right: 10px;
    top: 10px;
  }
}

@media (width > 375px) and (width < 768px) {
  .header__decorated-zone::before {
    left: 10px;
    bottom: 10px;
  }
  
  .header__decorated-zone::after {
    right: 10px;
    top: 10px;
  }
  
  .footer__decorated-zone::before {
    left: 10px;
    bottom: 10px;
  }
  
  .footer__decorated-zone::after {
    right: 10px;
    top: 10px;
  }
}

@media (width >= 768px) and (width < 1024px) {
  .header__decorated-zone::before {
    left: 20px;
    bottom: 20px;
  }
  
  .header__decorated-zone::after {
    right: 20px;
    top: 20px;
  }
  
  .footer__decorated-zone::before {
    left: 20px;
    bottom: 22px;
  }
  
  .footer__decorated-zone::after {
    right: 20px;
    top: 20px;
  }
}

@media (width >= 1024px) and (width < 1440px) {
  .header__decorated-zone::before {
    left: 20px;
    bottom: 97px;
  }
  
  .header__decorated-zone::after {
    right: 20px;
    top: 20px;
  }
  
  .footer__decorated-zone::before {
    left: 20px;
    bottom: 97px;
  }
  
  .footer__decorated-zone::after {
    right: 20px;
    top: 95px;
  }
}

@media (width >= 1440px) {
  .header__decorated-zone::before {
    left: 20px;
    bottom: 184px;
  }
  
  .header__decorated-zone::after {
    right: 20px;
    top: 20px;
  }
  
  .footer__decorated-zone::before {
    left: 20px;
    bottom: 78px;
  }
  
  .footer__decorated-zone::after {
    right: 20px;
    top: 78px;
  }
}