*:focus {
  outline: none;
}

.rec__empty::before {
  display: inline-block;
}

.rec__empty::after {
  display: inline-block;
}

.theme-light .rec__empty::before {
  display: none;
}

.theme-light .rec__empty::after {
  display: none;
}

.page {
  font-family: "IBM Plex Mono", "Arial", sans-serif;
  font-weight: bold;
  font-size: var(--regular-font-size);
  line-height: 1.3;
  background-color: var(--page-bg-color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  height: 100vh;
  min-height: 668px;
  padding: var(--decoration-gap) 0;
  font: inherit;
}

.header__text {
  margin: var(--decoration-gap);
  color: var(--header-text-color);
  font: inherit;
  font-weight: bold;
  font-size: inherit;
  background-color: var(--header-text-bg-color);
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  border: none;
  padding: 4px 13px;
  color: var(--button-color);
  font-size: var(--regular-font-size);
  line-height: var(--regular-line-height);
  text-transform: lowercase;
  background-color: inherit;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
  pointer-events: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
  outline: none;
}

.header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
  border: 1px solid var(--border-color-opacity);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu {
  justify-self: end;
  margin: auto var(--decoration-gap);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: var(--decoration-gap);
  right: var(--decoration-gap);
  width: 25px;
  height: 25px;
  border-top: var(--corner-thickness) solid var(--deco-color);
  border-right: var(--corner-thickness) solid var(--deco-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: var(--decoration-gap);
  left: var(--decoration-gap);
  width: 25px;
  height: 25px;
  border-bottom: var(--corner-thickness) solid var(--deco-color);
  border-left: var(--corner-thickness) solid var(--deco-color);
}

.main {
  margin-right: var(--decoration-gap);
  margin-left: var(--decoration-gap);
  padding-bottom: 10px;
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 40px;
}

.section__why {
  margin-top: var(--section-child-margin);
}

.section__what {
  margin-top: 50px;
}

.section__how {
  margin-top: 50px;
}

.gallery__section {
  margin-top: 50px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.gallery__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__item {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: max(100vh, var(--min-height));
}

.question {
  width: 100%;
  color: var(--question-color);
  font-size: var(--regular-font-size);
  line-height: 1.3;
}

.huge__title {
  margin-left: var(--header-margin-left);
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.footer__title {
  display: flex;
  align-items: center;
  height: 100%;
  margin-top: 32px;
}

.answer__title {
  color: var(--answer-title-color);
  font-size: inherit;
  background-color: var(--answer-title-bg-color);
}

.answer__text {
  color: var(--answer-text-color);
  font-weight: normal;
}

.answer__paragraph {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
}

.answer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.advice__title {
  width: 100%;
  margin-top: 20px;
  color: var(--advice-title-color);
  font-weight: normal;
  font-size: var(--regular-font-size);
  line-height: 1.3;
  background-color: var(--advice-title-bg-color);
}

.advice__title-main {
  margin-top: 20px;
}

.simple__link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.simple__link:focus {
  outline: none;
}

.simple__link:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

.simple__link:hover {
  border-bottom: 1px solid currentColor;
  cursor: pointer;
}

.picture__question {
  margin-bottom: 10px;
}

.rec__empty {
  position: absolute;
  top: calc(var(--decoration-gap) - 10px);
  right: calc(var(--decoration-gap) + 50px);
  display: flex;
  justify-self: end;
  width: 10px;
  color: var(--accent-color);
  line-height: 25px;
  text-transform: uppercase;
}

.rec__empty::before {
  content: 'REC';
  display: none;
  margin-top: 10px;
  margin-right: 15px;
  color: var(--rec-color);
  font-weight: normal;
}

.rec__empty::after {
  content: '';
  position: absolute;
  display: none;
  margin-top: 18px;
  margin-left: 42px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--rec-color);
  inline-size: 9px;
  block-size: 9px;
}

@media (min-width: 375px) {
  .main {
    padding-bottom: 40px;
  }
}

@media (min-width: 768px) {
  .main {
    padding-bottom: 60px;
  }
}

@media (min-width: 375px), (min-width: 768px) {
  .answer {
    margin-top: 0;
    padding-top: 20px;
  }
}

@media (min-width: 1024px) {
  .answer {
    padding-top: 0;
  }
}

@media (min-width: 375px), (min-width: 768px) {
  .advice__title {
    margin-top: 0;
  }
}

@media (min-width: 1024px) {
  .advice__title {
    margin-top: 20px;
  }
}

@media (min-width: 375px) {
  .huge__title {
    margin-left: var(--header-margin-left);
  }
  
  .footer__title {
    margin-left: 0;
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .question {
    padding-top: 20px;
  }
  
  .huge__title {
    font-size: clamp(7.5rem, 0.563rem + 14.453vw, 15rem);
  }

  .rec__empty {
    --rec_empty_x_pos: 35px;
  }

  .header {
    --min-height: 1024px;
    margin-block-end: 40px;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    margin-top: 20px;
  }

  .gallery__item {
    margin: 0;
  }

  .sunset_pic {
    grid-column: 1 / 3;
  }

  .ice-cream_pic {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .tape_pic {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .books_pic {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .street_pic {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .header__text {
    justify-self: right;
    width: calc(50% - 20px);
  }

  .question__what {
    width: 30%;
    margin-top: 10px;
  }

  .question_how-text {
    margin-top: 0;
  }

  .section__why {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'question__why answers__why';
    gap: 20px;
  }

  .section__what {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
  }

  .section__how {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'question_how-text answers_how';
    gap: 20px;
    margin-top: 61px;
  }

  .gallery__section {
    margin-top: 80px;
  }
  
  .picture__question {
    grid-column: 1 / 4;
    margin-bottom: 0;
  }
  
  .footer__title {
    justify-content: center;
    margin-top: 0;
  }
}

@media (min-width: 1024px) {
  .section__why .question__why {
    margin-top: 0;
  }

  .rec__empty {
    --rec_empty_x_pos: 40px;
  }

  .header {
    --min-height: 768px;
    margin-block-end: 0;
  }

  .footer {
    --min-height: 768px;
  }

  .huge__title {
    margin-left: 0;
  }

  .decorated-zone::after {
    bottom: 20px;
  }

  .section__why {
    gap: 10px;
    margin-top: 40px;
  }

  .answers__why {
    margin-top: 0;
  }

  .header__text {
    margin-top: 20px;
  }

  .header__theme-menu {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: start;
    height: 100%;
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
  }

  .section__what {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "question__what ." "answers__what answers__what";
    gap: 10px;
  }

  .question__what {
    position: absolute;
    z-index: 0;
    display: block;
    grid-area: question__what;
    width: 30%;
  }

  .answers__what {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: answers__what;
    gap: 20px;
    margin-top: 88px;
  }

  .section__how {
    gap: 10px;
  }
}