:root {
  --font: 'IBM Plex mono', monospace;
  --font-size: 18px;
  --accent-color: #ff0070;
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --btn-color: #ff0070;
  --sub-text-color: #000028;
  --backgroung-image: url(../images/cover-image-dark.png);
}